@import '../../scss/variables';

.movie-details-container {
  background: $white;
  color: $black;
  flex: 1;
  margin-top: 76px;

  .selected-movie-details-container {
    .genre-list {
      display: inline-flex;
      flex-wrap: wrap;

      .genre-list-item {
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 400;
        letter-spacing: 0.01786em;
        text-decoration: inherit;
        text-transform: inherit;
        -webkit-font-smoothing: auto;
        align-items: center;
        border: 2px solid transparent;
        border-radius: 1rem;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-flex;
        margin: 0;
        padding: 0.25rem 0.75rem;
        position: relative;
        overflow: hidden;
        user-select: none;
        background: #313131;
        color: #fff;
        border-color: #e4dede;

        &:hover {
          background: #807b7b;
        }
      }
    }

    .movie-cast-crew-section {
      .movie-cast-crew-main-content {
        .movie-cast-container {
          .top-cast-title {
            &::before {
              background: #f5c518;
              content: '';
              margin-left: -.75rem;
              align-self: flex-start;
              position: absolute;
              height: 50px;
              width: 4px;
            }
          }

          .cast-list {
            grid-template-columns: 25% 25% 25% 25%;
            column-gap: 10px;
            row-gap: 15px;
            display: grid;
            padding-bottom: 50px;
          }
        }

        .movie-crew-container {
          .top-crew-title {
            &::before {
              background: #f5c518;
              content: '';
              margin-left: -.75rem;
              align-self: flex-start;
              position: absolute;
              height: 50px;
              width: 4px;
            }
          }

          .crew-list {
            grid-template-columns: 25% 25% 25% 25%;
            column-gap: 10px;
            row-gap: 15px;
            display: grid;
            padding-bottom: 50px;
          }
        }
      }
    }
  }

  .movie-grid-item {
    .movie-inner-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .poster-image {
        max-width: 250px;
        width: 100%;
        height: auto;
        max-height: 200px;
        object-fit: contain;
        cursor: pointer;
      }

      .name {
        font-weight: bold;
        cursor: pointer;

        &:hover {
          font-weight: bold;
          color: #02b4e4;
        }
      }

      .description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .release-date {
        color: #619cb8;
      }

      .popularity-water-mark {
        display: flex;
        position: absolute;
        top: 7px;
        background: #454749 !important;
        color: #bcc3ce !important;
        height: 30px;
        width: 90px;
        border-radius: 8px;
        padding: 2px;
        justify-content: space-around;

        .popularity-icon {
          color: #e85600 !important;
        }
      }
    }
  }

  .error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
  }

  .related-movies {
    grid-template-columns: 20% 20% 20% 20% 20%;
    column-gap: 10px;
    row-gap: 15px;
    display: grid;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .movie-details-container {
    .selected-movie-details-container {
      .movie-cast-crew-section {
        .movie-cast-crew-main-content {
          .movie-cast-container {
            .cast-list {
              grid-template-columns: 50% 50%;
            }
          }

          .movie-crew-container {
            .crew-list {
              grid-template-columns: 50% 50%;
            }
          }
        }
      }
    }

    .related-movies {
      grid-template-columns: 50% 50%;
    }
  }
}

@media only screen and (max-width: 425px) {
  .movie-details-container {
    .selected-movie-details-container {
      .movie-cast-crew-section {
        .movie-cast-crew-main-content {
          .movie-cast-container {
            .cast-list {
              grid-template-columns: 100%;
            }
          }

          .movie-crew-container {
            .crew-list {
              grid-template-columns: 100%;
            }
          }
        }
      }
    }

    .related-movies {
      grid-template-columns: 100%;
    }
  }
}
